Dockerfile
docker-compose.yml
.dockerignore
Dockerfile.nginx

# File Types
*.env*
*.key
*.keys*
*.pem
*.cert
*.crt
*.log
*.secrets
.code-workspace

# Folders
node_modules
archive
logs
public
images
.VSCodeCounter
backups
references
metadata
credentials

#File Name Patterns
archive.js*
scripts/*.ps1