# File Types
*.env*
*.key
*.keys*
*.pem
*.cert
*.crt
*.log
*.secrets
.code-workspace

# Folders
node_modules
archive
logs
public
build
images
fonts
.VSCodeCounter
backups
references
metadata
.svelte-kit
credentials

#Specified Files

#File Name Patterns
archive.js*
scripts/*.ps1